* {
    margin: 0px;
    padding: 0px;
}

.navbar-nav a {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #252525;
    letter-spacing: 1px;
}

.navbar-nav a:hover {
    text-decoration: underline;
}

#lokasi {
    background-color: #fffdef;
    padding-block: 15vh;
    padding-inline: 3vw;
}

#lokasi-container {
    /* display: flex;
    justify-content: center; */
    gap: 50px;
}

#lokasi-container .deskripsi-alamat {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 2vh;
    padding-bottom: 10vh;
    padding-inline: 2vw;
    width: 50vw;
    font-family: 'Source Serif Pro', serif;
    background-color: #F3EEE7;
    border: 2px solid #4D4D4D;
    border-radius: 10px;
}

#lokasi-container .maps {
    border: 2px solid #4D4D4D;
    border-radius: 10px;
}

.deskripsi-alamat .judul-alamat h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #4D4D4D;
    margin-bottom: 0;
}

.deskripsi-alamat .judul-alamat h3 {
    font-size: 1.2rem;
    color: #4D4D4D;
    margin-bottom: 0;
}

.deskripsi-alamat .judul-deskripsi {
    color: #4D4D4D;
    font-size: 1.1rem;
    font-weight: 900;
    margin-bottom: 0;
}

.deskripsi-alamat .isi-deskripsi {
    font-size: 1rem;
    color: #484040;
    margin-bottom: 0;
}

.deskripsi-alamat .contact-menyamping {
    display: flex;
    justify-content: space-between;
}

.deskripsi-alamat .button-container {
    margin-top: 10px;
}

.deskripsi-alamat .button-container button {
    padding-block: 1vh;
    padding-inline: 2vw;
    border-radius: 10px;
    border: 2px solid #4D4D4D;
    background-color: #f2f0e3;
    box-shadow: 3px 3px 3px #484848;
    cursor: pointer;
}

.deskripsi-alamat .button-container a {
    color: black;
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
}

.deskripsi-alamat .button-container button:hover {
    background-color: #e4e3da;
    text-decoration: underline;
}

.deskripsi-alamat .button-container button:active {
    transform: scale(1.2);
}

.contact-kelompok {
    display: flex;
    flex-direction: column;
    background-color: #fdfaf6;
    padding-block: 15vh;
    align-items: center;
}

.tabel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    background-color: #fffdef;
    border: 2px solid #4D4D4D;
    padding-top: 3vh;
    padding-bottom: 8vh;
    padding-inline: 5vw;
    /* width: 900px; */
    /* height: 420px; */
    box-shadow: 3px 3px 3px #484848;
    border-radius: 10px;
}

.judul-tabel-kelompok h1 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: 2rem;
    color: #4D4D4D;
}

.isi-tabel-container {
    gap: 6vh;
}

.tabel-anggota {
    display: flex;
    align-items: center;
}

.tabel-anggota p {
    width: 300px;
    padding-block: 5px;
    margin-right: 20px;
    font-family: 'Source Serif Pro', serif;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.tabel-anggota h3 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    padding-block: 5px;
    margin-right: 8vw;
    margin-bottom: 0;
}

.tabel-anggota h5 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid black;
    padding-block: 5px;
    padding-inline: 2vw;
    margin-bottom: 0;
}

footer .footer-atas {
    background-color: #F3EEE7;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.logo-footer img {
    width: 150px;
}

.judul-kelompok {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.judul-kelompok h1 {
    font-family: 'Source Serif Pro', serif;
    color: #4D4D4D;
    font-size: 2rem;
    font-weight: 700;
}

.judul-kelompok h3 {
    font-family: 'Source Serif Pro', serif;
    color: #4D4D4D;
    font-size: 1.5rem;
}

.isi-kelompok {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-inline: 5px;
    gap: 10px;
}

.isi-kelompok .nama-kelompok {
    display: flex;
    gap: 5vw;
    justify-content: space-between;
}

.isi-kelompok .nama-kelompok p {
    font-family: 'Source Serif Pro', serif;
    padding-block: 5px;
    font-size: 1.2rem;
    width: 200px;
    text-align: center;
    color: #4D4D4D;
    margin-bottom: 0;
}

.isi-kelompok .nim-kelompok {
    display: flex;
    gap: 5vw;
    justify-content: space-between;
}

.isi-kelompok .nim-kelompok p {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.2rem;
    width: 200px;
    text-align: center;
    color: #4D4D4D;
}

.footer-bawah {
    width: 100%;
    padding-block: 20px;
    background-color: #3a3a3a;
}

.footer-bawah h1 {
    font-family: 'Source Serif Pro', serif;
    color: #FFFFFF;
    font-size: 1.2rem;
    margin-left: 20px;
}

@media (max-width: 768px) {
    #lokasi {
        padding-block: 8vh;
    }

    #lokasi-container .maps {
        width: 625px;
        height: 453px;
    }

    .isi-tabel-container {
        gap: 3vh;
    }

    .contact-kelompok {
        padding-block: 8vh;
    }

    .tabel-anggota h3 {
        font-size: 0.8rem;
    }

    .tabel-anggota p {
        font-size: 0.8rem;
        width: 200px;
    }

    .tabel-anggota h5 {
        font-size: 0.8rem;
    }

    .judul-kelompok h1 {
        font-size: 1.8rem;
    }

    .judul-kelompok h3 {
        font-size: 1.2rem;
    }

    .isi-kelompok .nama-kelompok {
        gap: 5vw;
    }

    .isi-kelompok .nama-kelompok p {
        width: 120px;
        font-size: 0.8rem;
    }

    .isi-kelompok .nim-kelompok {
        gap: 5vw;
    }

    .isi-kelompok .nim-kelompok p {
        width: 120px;
        font-size: 0.8rem;
    }

    .footer-bawah h1 {
        font-size: 0.9rem;
    }
}